# IDE
/.vscode/

# Archived stuffs
/Scrapped and archived/

# Use `npm i` to install them
/node_modules/

# Token and other secrets
config.json

# Also token and stuff but for dev purposes
deployConfig.json

# yes | We're removing that 
#modules/Bot/ali.js