# IDE, this is where i keep my debugger config and stuff
/.vscode/

# Archived stuffs
#/Scrapped and archived/ (no longer exists)

# Use `npm i` to install them
/node_modules/

# Token and other secrets
config.json

# Also token and stuff but for dev purposes
deployConfig.json

# yes | We're removing that \ edit, just found out this was my tfix command kekw
#modules/Bot/ali.js

# I readded my deleted stuff for later reference, but i'm not pushing them to the repo
/Z Legacy/

# Settings file
deployData/settings.json

# Changelog is always out of date, i just keep them locally now. Check the releases tab for changelogs
CHANGELOG.md

# The actual blacklist shouldn't be pushed
commanddata/Blacklist/blacklist.json
